Options -Indexes
Options +FollowSymlinks
DirectoryIndex index.php
RewriteEngine On

#disable for these filetypes
RewriteCond %{REQUEST_URI} !\.css$
RewriteCond %{REQUEST_URI} !\.png$
RewriteCond %{REQUEST_URI} !\.jpg$
RewriteCond %{REQUEST_URI} !\.zip$
RewriteCond %{REQUEST_URI} !\.html$
RewriteCond %{REQUEST_URI} !\.js$


RewriteRule . index.php